# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files (optional, if you don't want to include them in the repo)
*.pkl

# Environment files (e.g., virtual environments)
env/
venv/
*.env

# Operating system files
.DS_Store
Thumbs.db

# Docker-specific files
.dockerignore
*.log
*.tmp

# Dataset files (optional, if they are large or sensitive)
datasets/

# Kubernetes manifests backup files
*.yaml~
*.yml~

# Ignore IDE or editor-specific files
.vscode/
.idea/